<h1>Employee Show Page</h1>


<h1><%= "#{@employee.first_name } #{@employee.last_name}" %></h1>
<%= "Alias: #{@employee.alias}" %><br>
<%= "Title: #{@employee.title}" %><br>
<%= "Office: #{@employee.office}" %><br>
<%= "Dog: #{@employee.dog.name}" %><br><br>
<% @employee.img_url %>
<% if @employee.img_url%>
    <%= image_tag(@employee.img_url) %>
<% end %>